@import url("./normalize.css");
@import url("./skeleton.css");
@import url("../../dist/flyout.css");

body {
    min-width: 280px;
    padding: 75px 20px;
    text-align: center;
}

body > img {
    border-radius: 20px;
    transform: rotate(-5deg);
}

h1, h2 {
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
}

p {
    margin-bottom: 1.5rem;
}

.examples {
    margin: 50px 0 75px;
}

button {
    margin: 0;
    padding: 0 1.5rem;
    background: white;
}

button + button {
    margin-left: 0.5rem;
}

/*
 *
 * flyouts
 */

.flyout-foobar0 {
    width: 210px;
}

.flyout-foobar0 div {
    text-align: center;
}

.flyout-foobar2 {
    width: 250px;
}

.flyout-foobar3 p {
    margin: 0;
}

.has-flyout {
    margin: 2px;
}

/*
 *
 * alignto
 */

.alignto {
    overflow: hidden;
    width: 140px;
    margin: 0 auto 15px;
}

.alignto > div {
    overflow: hidden;
}

.alignto > div > div {
    float: left;
    width: 35px;
    height: 35px;
}

.alignto .alignto__clickable {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2.5rem;
    border-radius: 4px;
}

.alignto__clickable:hover {
    background: #33C3F0;
    color: white;
}

.alignto__clickable.alignto__clickable--topright i { transform: rotate(45deg); }
.alignto__clickable.alignto__clickable--topleft i { transform: rotate(-45deg); }
.alignto__clickable.alignto__clickable--righttop i { transform: rotate(-45deg); }
.alignto__clickable.alignto__clickable--rightbottom i { transform: rotate(45deg); }
.alignto__clickable.alignto__clickable--bottomright i { transform: rotate(-45deg); }
.alignto__clickable.alignto__clickable--bottomleft i { transform: rotate(45deg); }
.alignto__clickable.alignto__clickable--lefttop i { transform: rotate(45deg); }
.alignto__clickable.alignto__clickable--leftbottom i { transform: rotate(-45deg); }
